bleach==3.2.1
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
commonmark==0.9.1
docutils==0.16
hurry.filesize==0.9
idna==2.10
keyring==21.5.0
packaging==20.8
pkginfo==1.6.1
Pygments==2.7.3
pyparsing==2.4.7
python-version==0.0.2
readme-renderer==28.0
requests==2.25.0
requests-futures==1.0.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rich==9.4.0
six==1.15.0
tqdm==4.54.1
twine==3.2.0
typing-extensions==3.7.4.3
urllib3==1.26.2
webencodings==0.5.1
